@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.nav-box {
    width: 250px;
    max-height: 1024px;
    background-color: #242625;
    box-shadow: 1px 0px 0px #DEDEDE;
}

.nav-box-collapse {
    background-color: #242625;
    width: 90px;
}